{% extends 'base.html' %}
{% block content%}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-12 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>目前輪播廣告</h5>
                            </div>
                            <div class="container">
                                <div class="carousel slide" data-interval="2000" id="carousel-demo">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-demo" data-slide-to="1"></li>
                                        <li data-target="#carousel-demo" data-slide-to="2"></li>

                                    </ol>
                                    <div class="carousel-inner">
                                        {% for ad in advertise %}
                                        {% if forloop.first %}
                                        <div class="carousel-item active">
                                            <a href={{ ad.URL }} target="_blank"><img class="d-block w-100 "
                                                    src="/media/{{ ad.photo }} " width="500" height="500"></a>
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>{{ ad.title }}</h5>
                                                </p>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="carousel-item">
                                            <a href={{ ad.URL }} target="_blank"><img class="d-block w-100"
                                                    src="/media/{{ ad.photo }}" width="500" height="500"></a>
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>{{ ad.title }}</h5>
                                                </p>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}

                                        <a href="#carousel-demo" class="carousel-control-prev" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a href="#carousel-demo" class="carousel-control-next" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <form method="POST" action="/banner" enctype="multipart/form-data">
                                        {% csrf_token%}
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <th>ID</th>
                                                                <th>標題</th>
                                                                <th>圖片名稱</th>
                                                                <th>導向網址</th>
                                                                <th>刪除</th>
                                                                <th>修改</th>
                                                            </thead>
                                                            <tbody id="newIce_size">
                                                                {% for ad in advertise %}
                                                                <tr class="mb-1">
                                                                    <td>
                                                                        <input type="text" class="input_disabled"
                                                                            value="{{ ad.id }}" name="banner_id"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" value="{{ ad.title }}"
                                                                            name="banner_title"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" 
                                                                            value="{{ ad.photo }}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" value="{{ ad.URL }}"
                                                                            name="banner_URL"
                                                                            readonly>
                                                                    </td>
                                                                    <td align="center">
                                                                        <input type="checkbox" value="{{ ad.title }}"
                                                                            name="banner_delete" >
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit{{forloop.counter}}">
                                                                            修改
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <div class="modal fade" id="edit{{ forloop.counter }}" role="dialog" tabindex="-1">
                                                                    <div class="modal-dialog " role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLabel">確定更改?</h5>
                                                                                <button type="button" class="close" data-dismiss="modal"
                                                                                    aria-label="Close"><span
                                                                                        aria-hidden="true">×</span></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form>
                                                                                    <input type="text" class="form-control" name="edit_id" value="{{ ad.id }}" style="display: none" readonly>
                                                                                    <div class="mb-3">
                                                                                      <label for="edit_title" class="col-form-label">廣告標題:</label>
                                                                                      <input type="text" class="form-control" name="edit_title" value="{{ ad.title }}">
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="edit_photo" class="col-form-label">廣告圖片:</label>
                                                                                        <input type="text" class="form-control" name="edit_photo" value="{{ ad.photo }}">
                                                                                        <label for="edit_chosephoto" class="col-form-label">更換廣告圖片:</label>
                                                                                        <input type="file" class="form-control" name="edit_chosephoto{{ forloop.counter }}">
                                                                                      </div>
                                                                                    <div class="mb-3">
                                                                                      <label for="edit_URL" class="col-form-label">廣告連結:</label>
                                                                                      <input type="text" class="form-control" name="edit_URL" value="{{ ad.URL }}">
                                                                                    </div>
                                                                                  </form>
                                                                                <label>確定新增 <span
                                                                                        style="color:rgb(0, 0, 255);">{{saverecord.product_name}}</span>
                                                                                    相關資訊嗎?</label>
                        
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button class="btn btn-light" type="button"
                                                                                    data-dismiss="modal">返回</button>
                                                                                <button class="btn btn-primary" type="submit"
                                                                                    name="edit">確定並返回</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        
                                        <div style="text-align:right" ;>
                                            <button class="btn btn-primary" type="submit">確定</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}